/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
|
| Classes and elements with the greatest impact.
*/

:root {
	--primary: #00ffb2;
	--primary-darker: #00a873;
	--primary-lighter: #11ffb3;
	--info: #3498db;
	--success: #2ecc71;
	--danger: #e74c3c;
	--warning: #f1c40f;
}

@import url(https://fonts.googleapis.com/css?family=Dosis);
* {
	-webkit-box-sizing: border-box;
          	box-sizing: border-box;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
	margin: 0 0 5em 0;
	font-family: 'Open Sans Condensed', arial, sans;
	font-weight: normal;
}
body, .button__inner {
	background-size: 5em;
	background-image: url(../img/back.png);
}

h1 {
	color: #111; font-family: 'Open Sans Condensed', arial, sans;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

h2, h3, h4 {
	color: #111;
	font-weight: 300;
	line-height: 32px;
	text-align: center;
}


p {
	color: #111;
	font-family: 'Open Sans Condensed', arial, sans;
	font-size: 14px; line-height: 24px;
	margin: 0 0 24px; text-align: justify;
	text-justify: inter-word;
}


/*
|--------------------------------------------------------------------------
| Pictures
|--------------------------------------------------------------------------
|
| Pictures, logo's and brands
*/

.logomain {
	width: 75%;
	margin: auto;
	font-size: 12vw;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	line-height: 2em;
	display: block;
}

.profile-pic {
	border-radius: 100%;
	object-fit: cover;
  	width: 225px;
  	height: 225px;
}

.center {
	text-align: center;
}

.fixed {
	max-width: 100%;
	justify-self: center;
}


/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
|
| Contains all the content that must be presented in a responsive fashion
| excluding the navigation bar.
*/

.container {
	background-color: transparent;
	display: grid;
	grid-template-columns: repeat(auto-fill);
	grid-auto-rows: minmax(1em, auto);
	grid-gap: 0.5em;
	margin: 1em 1em;
}

@media only screen and (min-width: 768px) {
	/* For tablets: */
	.container {
		margin: 1em 10em;
	}
	.fixed {
		max-width: 60%;
	}
}
@media only screen and (min-width: 1001px) {
	/* For desktop browsers: */
	.container {
		margin: 1em 10em;
	}
	.fixed {
		max-width: 34em;
	}
}


/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
| Contains all items that require easy default positioning.
*/

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.5em;
}
.grid > * {
	overflow: hidden;
}
.dense {
	grid-auto-flow: dense;
}

/* Some default positioning layouts */
.full {
	grid-area: auto / span 12;
}
.half {
	grid-area: auto / span 6;
}
.quarter {
	grid-area: auto / span 3;
}

/* Some default alignment */
.left {
	justify-self: start;
}
.middle {
	justify-self: center;
}
.right {
	justify-self: end;
}
.up {
	align-self: start;
}
.center {
	align-self: center;
}
.down {
	align-self: end;
}


/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
|
| Generic block containing content that can be placed inside a container.
*/

.card {
	overflow: hidden;
	text-align: left;
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
	background: rgba(255, 255, 255, 15);
}
.card h2 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
	color: var(--primary);
	font-weight: bold;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}
.card input[type="checkbox"] {
	margin: 24px 0 24px;
}
.card input[type="file"] {
	/* @todo Roos */
}
.card input[type="text"],
.card input[type="date"],
.card input[type="datetime"],
.card input[type="email"],
.card input[type="number"],
.card input[type="search"],
.card input[type="time"],
.card input[type="url"],
.card input[type="password"],
.card textarea,
.card select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.card textarea {
    resize:none;
    overflow: hidden;
}
.card input[type="button"],
.card input[type="submit"] {
	border-radius: 0.2rem;
    -moz-box-shadow: inset 0px 1px 0px 0px #00d18e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #00d18e;
    box-shadow: inset 0px 1px 0px 0px #00d18e;;
    background-color: #00d18e;
    border: 1px solid #00ffb2;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.card input[type="button"]:hover,
.card input[type="submit"]:hover {
    background-color: var(--primary-lighter);
}

/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
|
| Standard layout of the navigation bar.
*/

nav {
	border: var(--primary-lighter) solid;
    border-width: 0.2em 0 0;
}
nav ul {
	height: 2.5rem;
	line-height: 2.5rem;
    list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 2.5rem;
	grid-template-areas: 'brand . . . dropdown';
}
nav ul li a {
	color: #666;
	text-align: center;
    text-decoration: none;
}
nav ul li:hover:not(.active) {
	background-color: var(--primary);
}
nav ul li a img:hover:not(.active) {
	filter: brightness(0) invert(1);
}
nav ul li.active {
    color: white;
    background-color: var(--primary);
}
nav ul li a img.active {
    filter: brightness(0) invert(1);
}

nav ul li.dropdown {
	grid-area: dropdown;
	justify-self: center;
}
nav ul li.brand {
	grid-area: brand;
	justify-self: left;
}

@media only screen and (min-width: 1001px) {
	nav ul {
		margin: 0 1em 0 0;
	}
}

.dropdown-content {
	right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
	line-height: 1.5rem;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
	background-color: var(--primary-lighter);
}
.dropdown:hover .dropdown-content {
	display: block;
}

.brand img {
	width: 2.5em;
	margin: 0 4px -14px;
}

@media only screen and (min-width: 768px) {
	nav ul li a {
		padding: 14px 16px;
	}
	nav ul li.dropdown {
		justify-self: right;
	}
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
| Standard layout of the footer.
*/

footer {
	width: 100vw;
	z-index: 1;
	position: fixed;
	left: 0;
	bottom: 0;
	color: white;
	padding: 4px;
	background-color: #00ffb2;
	text-align: center;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer ul li {
	display: inline-block;
}
footer ul li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
footer ul li a:hover:not(.active) {
	background-color: #00ffb2;
}
footer ul li a.active {
	background-color: #00ffb2;
}


/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
|
| Some imported styles.
*/

input {
	width: -webkit-fill-available;
	margin: 0.5em 0;
}

.error {
	color: var(--danger) !important;
}

.button {
	font-size: 5vw;
	border: none;
	background-color: #ebebf0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	position: relative;
	z-index: 1;
	padding: 0;
}
@media (min-width: 40em) {
	.button {
		font-size: 2em;
	}
}
.button:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 10, 50, 0.2);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	-webkit-transform: translate3D(0, 0, 0);
			transform: translate3D(0, 0, 0);
}
.button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #ebebf0;
	z-index: -1;
}
.button:hover:before,
.button:focus:before {
	-webkit-transform: translate3D(10px, 0, 0);
			transform: translate3D(10px, 0, 0);
}
.button:active:before {
	-webkit-transform: translate3D(0, 0, 0);
			transform: translate3D(0, 0, 0);
}
.button:focus,
.button:active {
	outline: none;
}
.button .button__inner {
	will-change: transform;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color: #333;
	padding: 1em 1.5em;
	background-color: #fbfbfb;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
	position: relative;
}
.button:hover .button__inner,
.button:focus .button__inner {
	-webkit-transform: translate3D(0, -10px, 0);
			transform: translate3D(0, -10px, 0);
}
.button:active .button__inner {
	-webkit-transform: translate3D(0, 0, 0);
			transform: translate3D(0, 0, 0);
}
.button:hover .button__inner,
.button:focus .button__inner {
	background-color: #fff;
}

.button--secondary {
	background-color: #00d18e;
	z-index: 0;
}
.button--secondary:after {
	background-color: #00d18e;
}
.button--secondary .button__inner {
	background-color: #00ffb2;
}
.button--secondary:hover .button__inner,
.button--secondary:focus .button__inner {
	background-color: #11ffb3;
}


