# Contains important information such as passwords
.env

# Latex auxillary files
*.fls
*.fdb_latexmk
*.aux
*.log
*.out
*.synctex.gz

# Ignore upload folder
uploads/

# Reflection reports
/documentation/reflection/*
README.md
app/src/router.php