
.container {
	background-color: aquamarine;
	display: grid;
	margin: 1em 1em;
}

@media only screen and (min-width: 768px) {
	/* For tablets: */
	.container {
		margin: 1em 4em;
	}

@media only screen and (min-width: 1001px) {
	/* For desktop browsers: */
	.container {
		margin: 1em 10em;
	}
}
